<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stublink</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	{{#if success_msg}}
		<div class="alert alert-success">{{success_msg}}</div>
	{{/if}}
	{{#if error_msg}}
		<div class="alert alert-danger">{{error_msg}}</div>
	{{/if}}
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		{{/each}}
	{{/if}}

	{{{body}}}
</body>
</html>