<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stublink</title>
    <link rel="icon" href="/img/favicon.png" type="image/png"> 
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png"> 
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	{{!-- {{#if success_msg}}
		<div class="alert alert-success">{{success_msg}}</div>
	{{/if}}
	{{#if error_msg}}
		<div class="alert alert-danger">{{error_msg}}</div>
	{{/if}}
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
		{{/each}}
	{{/if}} --}}

	{{{body}}}
</body>
</html>