
<div id="content-wrapper">
    <div id="home">
        <div id="header" class="header-flex">
            <img id="logoimg" src="/img/chain-link.png" alt="Logo">
            <ul id="nav">
                <a href="#home"><li id="nav-home">HOME</li></a>
                <a href="#about"> <li id="nav-about" href="#about">ABOUT</li> </a>
                <a href="https://twitter.com/Stublinkio" target="_blank"> <li id="nav-contact">CONTACT</li> </a>
                <a href="https://medium.com/@stublinkio" target="_blank"><li id="nav-blog">BLOG</li></a>
            </ul>
        </div>
        <div id="home-content">
            <div id="brand">
                {{!-- <p id="logo2"> Stublink</p> --}}
                <img src="/img/logo-white.png" alt="Logo" id="logo-img">
                <p id="slogan2">Connecting people to events</p>
            </div>
            <div id="signup2">
                <form action="/register" method="POST">
                    <input id="email2" type="email" name="email" placeholder="Email">
                    <button id="subscribe2" class="button-default">Stay Updated</button>
                </form>
            </div>
        </div>
        <div id="arrow-container">
            <svg class="arrow-down" fill="#000000" height="100" viewBox="0 0 24 24" width="100" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
        </div>
    </div>

    <div id="problem">

       <h3 class="tittle">Don't miss out on events by not having someone to go with</h3>

       <div id="user-feed">
            <p id="live-feed-text">
                View event specific feed of other users who are also looking for someone to go to the event with
            </p>

            <img id="live-feed-img" src="/img/live-list.png" alt="">
       </div>

    </div>

    <div id="payment">

        <p class="tittle"></p>
       <div id="payment-wrapper">
            <p>
            </p>
            <img id="" src="/img/live-list.png" alt="">
       </div>

    </div>


    <div id="footer">
        <div id="ticket-role">
            <div class="action">
                <p>We handle the ticket purchasing</p>
                <img class="ticket-img" src="/img/buying.png" alt="">
            </div>
            <div class="action">
                <p>Split the cost evenly between the group</p>
                <img class="ticket-img" src="/img/money.png" alt="">
            </div>
            <div class="action">
                <p>Hand out the tickets</p>
                <img class="ticket-img" src="/img/distribute.png" alt="">
            </div>
        </div>
    </div>

    
<script src="/js/css.js"></script>
</html>