
<div id="content-wrapper">
    <div id="home">
        <div class="blur"></div>
        <div id="header" class="header-flex">
            <img id="logoimg" src="/img/chain-link.png" alt="Logo">
            <ul id="nav">
                <a href="#home"><li id="nav-home">HOME</li></a>
                <a href="#problem"> <li id="nav-about" href="#about">ABOUT</li> </a>
                <a href="https://twitter.com/Stublinkio" target="_blank"> <li id="nav-contact">CONTACT</li> </a>
                <a href="https://medium.com/@stublinkio" target="_blank"><li id="nav-blog">BLOG</li></a>
            </ul>
        </div>
        <div id="home-content">
            <div id="brand">
                {{!-- <p id="logo2"> Stublink</p> --}}
                <img src="/img/logo-white.png" alt="Logo" id="logo-img">
                <p id="slogan2">Connecting people to events</p>
            </div>
            <div id="signup2">
                <form action="/register" method="POST">
                    <input id="email2" type="email" name="email" placeholder="Email">
                    <button id="subscribe2" class="button-default" disabled="true">Stay Updated</button>
                </form>
            </div>
        </div>
        <div id="arrow-container">
            <svg class="arrow-down" fill="#000000" height="100" viewBox="0 0 24 24" width="100" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
        </div>
    </div>
{{!-- 
    <div id="problem">

       <h3 class="tittle">Don't miss out on events by not having someone to go with</h3>

       <div id="user-feed">
            <img id="live-feed-img" src="/img/live-list.png" alt="">
            <p id="live-feed-text">
                View event specific feed of other users who are also looking for someone to attend with
            </p>
       </div>

    </div>

    <div id="payment">

        <div id="payment-content">
            <h3 class="tittle">
                We streamline your ticket purchasing process
            </h3>

            <div id="payment-benifits">

                <ul>
                    <li>
                        <img class="benifits-img" src="/img/individual.png" alt="">
                        <p>Pay Individually</p>
                        {{!-- <p>Making sure you only ever pay for your ticket</p> --}}
                    </li>
                    <li>
                        <img class="benifits-img" src="/img/group.png" alt="">
                        <p>Sit as a Group</p>
                        {{!-- <p>Ensure you're still next to your group</p> --}}
                    </li>
                    <li>
                        <img class="benifits-img" src="/img/easeofuse.png" alt="">
                        <p>Ease of Use</p>
                        {{!-- <p>Do it all at once on our app</p> --}}
                    </li>
                </ul>

                <h3 class="tittle">
                    Simplify group ticket purchases no need of
                </h3>

                <ul>
                    <li>
                        <img class="benifits-img" src="/img/timer.png" alt="">
                        <p>Coordinate Ticket Purchase</p>
                        {{!-- <p>"Okay what seat are you buying?"</p> --}}
                    </li>
                    <li>
                        <img class="benifits-img" style="height: 80px" src="/img/payingback.png" alt="">
                        <p>Pay People Back</p>
                        {{!-- <p>"You got Venmo"</p> --}}
                    </li>
                    <li>
                        <img class="benifits-img" style="height: 100px" src="/img/otherservices.png" alt="">
                        <p>Getting Paid Back</p>
                        {{!-- <p>"I got you with food"</p> --}}
                    </li>
                </ul>


                {{!-- <img id="live-feed-img" src="/img/live-list.png" alt="">

                <div id="payment-text">
                    <h3>No need to:</h3>
                    <ul>
                        <li>Cordinate a time to purchase tickets</li>
                        <li>Worry about paying someonebck</li>
                        <li>Worry about being payed back through other services</li>
                    </ul>
                </div> --}}
            </div>
       </div>

    </div>


    <div id="footer">

    </div> --}}


<script src="/js/css.js"></script>
</html>