
<div id="content-wrapper">
    <div id="home">
        <div class="blur"></div>
        <div id="header" class="header-flex">
            <img id="logoimg" src="/img/chain-link.png" alt="Logo">
            <ul id="nav">
                <a href="#home"><li id="nav-home">HOME</li></a>
                <a href="#problem"> <li id="nav-about" href="#about">ABOUT</li> </a>
                <a href="https://twitter.com/Stublinkio" target="_blank"> <li id="nav-contact">CONTACT</li> </a>
                <a href="https://medium.com/@stublinkio" target="_blank"><li id="nav-blog">BLOG</li></a>
            </ul>
        </div>
        <div id="home-content">
            <div id="brand">
                {{!-- <p id="logo2"> Stublink</p> --}}
                <img src="/img/logo-white.png" alt="Logo" id="logo-img">
                <p id="slogan2">Connecting people to events</p>
            </div>
            <div id="signup2">
                <form action="/register" method="POST" >
                    <input id="email2" type="email" name="email" placeholder="Email">
                    <button id="subscribe2" class="button-default" disabled="true">Stay Updated</button>
                </form>
            </div>
        </div>
    </div>


<script src="/js/css.js"></script>
</html>