/*CSS Reset - Eric A Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Global Variables*/
:root {
    --green: #48B482;
    --blue: rgba(49, 112, 183, 0.651);
    --white: #F0EBF4;
    
}

@font-face {
    font-family: AirStream;
    src: url("../assets/AirstreamNF.otf");
}

body {
    min-width: 768px;
    font-family: 'Roboto';
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

/* Header CSS */
#header {
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    min-width: 768px;
    justify-content: space-between;
    color: #F0EBF4;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
}

#logo {
    font-family: cursive;
    font-weight: bold;
    font-size: 2.8em;
    color: white;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 10px;

}

#header li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px 0px 20px;
    cursor: pointer;
    height: 33px;
    width: 50px;
}

#header li:hover {
    color: #B39BC8;
}

#nav {
    text-align: center;
}

#nav a {
    color: rgba(161, 195, 209, 0.76);
    /* color: #B39BC8; */
    text-decoration: none;
}

#logoimg {
    width: 40px;
    height: 20px;
    margin: 15px 0px 0px 10px;
}

/*Home CSS*/

@media screen and (min-width: 920px) {
    #backdrop {
        height: 510px;
        width: 100%;
        object-fit: cover;
    }
}

#home {
    /* The image used */
    background-image: url('../img/concert-audience.jpg');
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 900px;
    max-height: 650px;
    text-align: center;
    position: relative;
    color: var(--white);
    
}

#home-content {
    position: fixed;
    width: 80%;
    margin-left: 10%;
    margin-top: 170px;
}

#backdrop {
    margin-top: 50px;
    max-width: 100%;
    min-height: 60%;
    text-align: center;
    background-size: cover;
    filter: grayscale(65%);
    border-bottom: 1px solid #ddd;
}

.button-default {
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
                0 2px 2px 0 rgba(0,0,0,.14), 
                0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

#brand {
    color:white;
}

#logo2 {
    font-size: 74px;
    font-family: AirStream;
    margin-bottom: 10px;
}

#logo-img {
    height: 80px;
    margin-bottom: 20px;
}

#slogan2 {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

#email2 {
    border: none;
    outline: none;
    width: 350px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
}

#email2:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    content: "Email";
    
}

#subscribe2 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -117px;
    margin-top: -1px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: solid 1px rgba(128, 128, 128, 0.479);
    height:32px;
    color: white;
    background-color: #F172A1;

}

#subscribe2:hover {
    background-color: #E64398;

}

#arrow-container {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
}

.arrow-down {
    fill: rgba(161, 195, 209, 0.596);
}

/*problem CSS*/

#problem {
    color: black;
    position: relative;
    width: 100%;
    height: 650px;
    color: black;
    background-color: #fafafa;
    border-bottom: solid rgba(128, 128, 128, 0.09) 1px;
    z-index: 10;
}

.tittle {
    width: 80%;
    text-align: center;
    margin: auto;
}

#problem .tittle {
    padding-top: 50px;
    font-size: 29px;
    font-weight: bold;
    color: #F172A1;
    margin-bottom: 30px;
}
#user-feed{
    display: flex;
    justify-content: space-around;

}

#live-feed-text {
    width: 410px;
    font-size: 28px;
    margin-top: 110px;
    line-height: 1.5;
}

#live-feed-img {
    height: 400px;
    width: auto;
}

#description {
    width: 80%;
    max-width: 810px;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 60px;
    text-align: left;
    z-index: 5;
}


#wont-attend {
    margin: auto;
    width: 80%;
    max-width: 810px;
    margin-top: 70px;
    margin-bottom: 90px;
    display: flex; 
    justify-content: space-between;
}

#wont-attend p {
    text-align: right;
    width: 310px;
    font-size: 24px;
    margin: auto;
}

#no-plusone {
    width: 300px;
    height: 114px;
    margin: auto;
    display: flex;
}

#people-miss {
    width: 490px;
}

#but {
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 40px;
    font-size: 22px;
}

.img-container {
    width: 80%;
    height: 150px;
    margin: auto;
    justify-content: space-between;
}

#will-attend {
    margin: 25px;
}

#will-attend p {
    margin: auto;
    text-align: center;
    width: 510px;
    font-size: 24px;
    font-weight: bold;
}


#problem-background {
    width: 100%;
    min-width: 768px;
    height: 500px;
    position: absolute;
    display: block;
    z-index: 4;
}

#stublink {
    padding-top: 15px;
    height: 500px;
    background-color: #fafafa;
    text-align: center;
}

#stublink-action {
    max-width: 810px;
}


#link-img {
    width:90%;
    max-width: 810px;
    height: auto;
    max-height: 300px;
    margin: auto;
    margin-top: 50px;
}

#ticket-purchase {
    height: 650px;
}

#ticket-purchase ul li{
    list-style-type: disc;
}

#benefits-tittle {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 20px;
}
#benefits-list{
    margin-left: 20px;
}
#benefits-list li{
    margin-bottom: 20px;
    font-size: 16px;
}

#ticket-left {
    width: 350px;
    text-align: left;
}
#ticket-role {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.action {

}

.ticket-container {
    width: 80%;
    max-width: 810px;
    margin: auto;
    text-align: center;
    display: flex; 
    justify-content: space-between;
}

.ticket-img {
    width: 200px;
    height: auto;
}

#footer {
    height: 50px;
    background-color: #fafafa;
}

#footer ul{
    margin:auto;
    padding-top: 15px;
    width: 80%;
    display: flex; 
    justify-content: space-between;
}
#footer ul li {
    display: inline-block;
}

#contact {
    height: 300px;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

#contact-form {
    width: 360px;
    text-align: center;
    margin: auto;
}

#contact-form input {
    height: 20px;
    width: 350px;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    font-size: 10px;
    background-color: #fafafa;
}

#contact-form textarea {
    width: 348px;
    margin-left: 2px;
    outline: none;
    resize: none;
}

#contact-form button {
    margin-top: 10px;
    width: 350px;
}

.nav-active {
    color: #B39BC8;
}


.hidden {
    display: none;
}

.header-flex {
    display: flex; 
}

#stublink-p {
    /* The image used */
    background-image: url('../img/connections.png');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
    height: 600px;
    background-color: #fafafa;
    text-align: center;
}

