/*CSS Reset - Eric A Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    min-width: 768px;
    font-family: 'Roboto';
}

a {
    color: black;
    text-decoration: none;
}

/* Header CSS */
#header {
    height: 50px;
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.95);
    font-weight: 600;
    text-align: center;
    width: 100%;
    min-width: 768px;
    /* box-shadow: 0 0 0.5rem rgba(83,78,76,.5); */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 1030;
    display: flex; 
    justify-content: space-between;
    position: fixed;
}
    

#logo {
    font-family: cursive;
    font-weight: bold;
    font-size: 2.8em;
    color: white;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 10px;

}

#header li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px 0px 20px;
    cursor: pointer;
    height: 33px;
    width: 50px;
}

#header li:hover {
    border-bottom: #48B482 solid 2px;
}

#nav {
    text-align: center;
}

#actions{
    margin-top: 10px;
    margin-right: 10px;
}

#actions button{
    margin-left: 5px;
}

#logoimg {
    width: 40px;
    height: 20px;
    margin: 15px 0px 0px 10px;
}

#header button {
    width: 65px;
    height: 28px;
    box-shadow: none;
    background-color: inherit;
    font-size: 12px;
}

#btn-login {
    color: rgba(180, 72, 72, .8);
}

#btn-login:hover {
    background-color: rgba(180, 72, 72, .5);
    color: #fafafa;
}

#btn-signup {
    right: 100px;
    top: 10px;
    color:rgba(72,180,130,.8);
}

#btn-signup:hover {
    background-color: rgba(72,180,130,.5);
    color: #fafafa;
}

/*Home CSS*/
#home {
    width: 100%;
    max-height: 570px;
    position: relative;
    text-align: center;
}


#backdrop {
    margin-top: 50px;
    max-width: 100%;
    min-height: 60%;
    text-align: center;
    background-size: cover;
    filter: grayscale(65%);
    border-bottom: 1px solid #ddd;
}


@media screen and (min-width: 920px) {
    #backdrop {
        height: 510px;
        width: 100%;
        object-fit: cover;
    }
}

#container {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
}
  

#content {
    z-index: 99;
}

#join-now {
    background-color:  rgb(72, 140, 180);
    color: white;
    width: 100px;
    height: 30px;
}

#join-now:hover{
    background-color:  rgb(72,180,130);
}

.button-default {
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
                0 2px 2px 0 rgba(0,0,0,.14), 
                0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}



#slogan {
    width: 300px;
    margin-top: 15px;
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px gray;
    margin-bottom: 30px;
}


#signup {
    background-color: rgba(255, 255, 255, 0.75);
    width: 220px;
    height: 280px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);


}

#signup-form input {
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
    background-color: inherit;
}

#signup-form button {
    margin-top: 20px;
}

.name-input {
    width: 90px;
}

.email-input {
    width: 180px;
}

.email-input {

}

#signup-heading {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400px;
    margin-top: 30px;
    margin-bottom:20px;
}

/*About CSS*/

#about {
    color: black;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: center;
    border-bottom: solid rgba(128, 128, 128, 0.09) 1px;
}

#description {
    width: 80%;
    max-width: 810px;
    margin: auto;
    padding-top: 20px;
    text-align: left;
    z-index: 5;
}

.about-tittle {
    font-size: 30px;
    font-weight: 900;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 25px;
    text-align: center;
}

.about-text {
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin: auto;
}


#wont-attend {
    margin: auto;
    width: 80%;
    max-width: 810px;
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex; 
    justify-content: space-between;
}

#wont-attend p {
    text-align: right;
    width: 310px;
    font-size: 24px;
    margin: auto;
}

#no-plusone {
    width: 300px;
    height: 114px;
    text-align: left;
}

#will-attend {
    margin: 25px;
}

#will-attend p {
    margin: auto;
    text-align: center;
    width: 510px;
    font-size: 24px;
    font-weight: bold;
}


#about-background {
    width: 100%;
    height: 500px;
    position: absolute;
    display: block;
    z-index: 4;
}

#stublink {
    padding-top: 15px;
    height: 500px;
    background-color: #fafafa;
    text-align: center;
}

#stublink-action {
    max-width: 810px;
}


#link-img {
    width:90%;
    max-width: 810px;
    height: auto;
    max-height: 300px;
    margin: auto;
    margin-top: 50px;
}

#ticket-purchase {
    height: 400px;
}

#ticket-purchase ul li{
    list-style-type: disc;
}

#benefits-tittle {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 20px;
}
#benefits-list{
    margin-left: 20px;
}
#benefits-list li{
    margin-bottom: 20px;
    font-size: 16px;
}

#ticket-left {
    width: 350px;
    text-align: left;
}
#ticket-right {
    width: 350px;
}

.ticket-container {
    width: 80%;
    max-width: 810px;
    margin: auto;
    text-align: center;
    display: flex; 
    justify-content: space-between;
}

.ticket-img {
    width: 200px;
    height: auto;
}

#footer {
    height: 50px;
    background-color: #fafafa;
}

#footer ul{
    margin:auto;
    padding-top: 15px;
    width: 80%;
    display: flex; 
    justify-content: space-between;
}
#footer ul li {
    display: inline-block;
}

#contact {
    height: 300px;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

#contact-form {
    width: 360px;
    text-align: center;
    margin: auto;
}

#contact-form input {
    height: 20px;
    width: 350px;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    font-size: 10px;
    background-color: #fafafa;
}

#contact-form textarea {
    width: 348px;
    margin-left: 2px;
    outline: none;
    resize: none;
}

#contact-form button {
    margin-top: 10px;
    width: 350px;
}

.nav-active {
    border-bottom: #48B482 solid 2px;
}


.hidden {
    display: none;
}

#success-message {
    margin: auto;
    width: 210px;
}

#success-img {
    margin-top: -20px;
    margin-bottom: 10px;
    width: 80px;
    height: auto;
}