/*CSS Reset - Eric A Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Global Variables*/
:root {
    --green: #48B482;
    --blue: rgba(49, 112, 183, 0.651);
    --white: #F0EBF4;
    
}

@font-face {
    font-family: AirStream;
    src: url("../assets/AirstreamNF.otf");
}

body {
    font-family: 'Roboto';
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

/* Header CSS */
#header {
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    min-width: 768px;
    justify-content: space-between;
    color: #F0EBF4;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
}

#logo {
    font-family: cursive;
    font-weight: bold;
    font-size: 2.8em;
    color: white;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 10px;

}

#header li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px 0px 20px;
    cursor: pointer;
    height: 33px;
    width: 50px;
}

#header li:hover {
    color: #B39BC8;
}

#nav {
    text-align: center;
}

#nav a {
    /* color: rgba(161, 195, 209, 0.76); */
    /* color: #B39BC8; */
    color: white;
    text-decoration: none;
}

#logoimg {
    width: 40px;
    height: 20px;
    margin: 15px 0px 0px 10px;
}

/*Home CSS*/

#home {
    /* The image used */
    background-image: url('../img/concert-audience.jpg');
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    text-align: center;
    position: relative;
    color: var(--white);
    
}

#home-content {
    position: fixed;
    width: 80%;
    margin-left: 10%;
    margin-top: 170px;
}

#backdrop {
    margin-top: 50px;
    max-width: 100%;
    min-height: 60%;
    text-align: center;
    background-size: cover;
    filter: grayscale(65%);
    border-bottom: 1px solid #ddd;
}

.button-default {
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
                0 2px 2px 0 rgba(0,0,0,.14), 
                0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

#brand {
    color:white;
}

#logo2 {
    font-size: 74px;
    font-family: AirStream;
    margin-bottom: 10px;
}

#logo-img {
    height: 120px;
}

#slogan2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

#email2 {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

#email2:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    content: "Email";
    
}

#subscribe2 {
    -webkit-appearance: none;
    padding-top: 0px;
    font-size: 18px;
    padding-bottom: 0px;
    margin-left: -110px;
    margin-top: -1px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: solid 1px rgba(128, 128, 128, 0.479);
    height: 40px;
    color: white;
    font-weight: 500;
    background-color: #F172A1;
    box-sizing: border-box;
}

#subscribe2:hover {
    background-color: #E64398;

}

#arrow-container {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
}

.arrow-down {
    fill: rgba(161, 195, 209, 0.596);
}

/*problem CSS*/

#problem {
    color: black;
    position: relative;
    width: 100%;
    height: 650px;
    color: black;
    background-color: #fafafa;
    border-bottom: solid rgba(128, 128, 128, 0.09) 1px;
    z-index: 10;
}

.tittle {
    width: 80%;
    text-align: center;
    margin: auto;
}

#problem .tittle {
    padding-top: 50px;
    font-size: 29px;
    font-weight: bold;
    color: #F172A1;
    margin-bottom: 30px;
}
#user-feed{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

#live-feed-text {
    width: 410px;
    font-size: 28px;
    margin-top: 110px;
    line-height: 1.5;
}

#live-feed-img {
    height: 400px;
    width: auto;
}

/*Payment*/

#payment {
    /* The image used */
    background-image: url('../img/connections.png');
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 650px;
    max-height: 650px;
    text-align: center;
    position: relative;
    color: black;
}

#payment-content {
}

#payment .tittle {
    padding-top: 80px;
    font-weight: bold;
    color: #F172A1;
}

#payment-text {
    width: 410px;
    font-size: 24px;
    margin-top: 60px;
    line-height: 1.5;
    text-align: left;
}

#payment-text h3 {
    float: left;
}

#payment-text ul {
    margin-top: 50px;
    list-style: none;
}

#payment-text ul li {
    margin-bottom: 10px;
}

.benifits-img {
    width: auto;
    height: 65px;
}

#payment-benifits {
    padding-top: 80px;
}

#payment-benifits ul li {
    list-style-type: none;
    display: inline-block;
    width: 300px;
}

#payment-benifits ul {
    height: 200px;
    width: 100%;
    justify-content: space-around;
}

#payment-benifits .tittle {
    padding: 0;
    margin-top: -40px;
    margin-bottom: 40px;
}

#footer {
}

.hidden {
    display: none;
}

.header-flex {
    display: flex; 
}

.blur {
    /* All the background image supports */
    background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(50px);
    -o-filter: blur(50px);
    filter: blur(500px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='70');
    top: -70px;
    right: -70px;
    left: -70px;
  }

  #payment-benifits ul li {
      width: 253px;
      height: 200px;
  }
/* Responsive */

@media screen and (min-width: 920px) {
}

@media screen and (max-width: 545px) {

    #home {
        min-width: 320px;
    }

    #home{
        height: 100vh;
    }

    #header li { 
        margin: 15px 10px 0px 10px;
        font-size: 12px;
    }
    li#nav-blog {
        margin-left: 20px;
    }
    #logo-img {
        height: 90px;
    }
    #slogan2 {
        font-size: 20px;
    }
    #email2 {
        font-size: 14px;
        height: 30px;
        width: 240px;
    }
    #subscribe2 {
        font-size: 14px;
        height: 30px;
        width: 110px;
        margin-left: -100px;
    }
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
        min-width: 0px;

    }

    #home{
        height: 100vh;
    }


    .blur {
    }

    input#email2 {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    button#subscribe2 {
        margin-top : 0;
    }

    #home {
    }

    #payment {
        min-height: 1400px;
        background-position-y: top;
    }

    #header {
        width: 100%;
        min-width: 0px;
        justify-content: space-around;
        position: relative;
        margin-bottom: 50px;
    }

    #home-content {
        position: relative;
        margin-top: 100px;
    }

    #header li {
        width: 35px;
    }

    #header ul {
    }

    #header a {
        color: ;
    }

    #email2 {
    }

    #arrow-container{
        display: none;
    }

    #problem .tittle {
        font-size: 21px;
    }

    #user-feed {
        display: block;
        padding-top: 0;
        text-align: center;
    }

    #live-feed-text{
        margin-top: 10px;
        font-size: 19px;
        width: 80%;
        margin: auto;
    }

    #live-feed-img {
        margin-bottom: 20px;
    }
    

    #payment-content .tittle {
        font-size: 21px;
        padding-top: 20px;
    }

    #payment-benifits {
        padding-top: 20px;
        height: 1200px;
    }

    #payment-benifits ul li {
        height: 200px;
        
    }

    #payment-benifits ul {
        height: 600px;
        display: block;

    }


    #problem {
        height: 700px;
    }

}


